<form method="POST" action="/login">
	<label for="username">User name:</label>
	<input type="text" name="username">
	<label for="pw">Password:</label>
	<input type="password" name="password">
	<input type="submit" value="Log In">
</form>
